[submodule "packages/local/DateTimeField"]
	path = packages/local/DateTimeField
	url = https://github.com/gportela85/DateTimeField.git
[submodule "packages/local/font-awesome"]
	path = packages/local/font-awesome
	url = https://github.com/vadimpopa/sencha-font-awesome-5.git
[submodule "packages/local/ux-livesearch"]
	path = packages/local/ux-livesearch
	url = https://github.com/katzer/Ext.ux.grid.plugin.LiveSearch.git
